body {
    font-family: 'Noto Sans JP', sans-serif !important;
}

/*header*/
.mj-header {
    background-color: #F9D43F;
}

.mj-header img {
    height: 40px;
}

.mj-header__text {
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.mj-header__text a {
    color: #FFFFFF;
}

.mj-header .navbar-toggler {
    display: none;
}

@media (max-width: 768px) {
    .mj-header img {
        height: 24px;
    }

    .mj-header__text {
        display: none;
    }

    .mj-header .navbar-toggler {
        display: block;
    }

    #navbarToggleExternalContent {
        background-color: #F9D43F;
    }

    #navbarToggleExternalContent a {
        color: #fff;
    }
}

.mj-footer {
    height: 30px;
    background-color: #333333;
}

.mj-footer .container {
    display: flex;
    justify-content: space-between;
}

.mj-footer span, .mj-footer a {
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

/*共有*/

.mj-title {
    padding-left: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #333;
    position: relative;
}

.mj-title::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 6px;
    border-radius: 3px;
    background-color: #F9D43F;
    left: 0;
    top: 0;
    margin-bottom: 40px;
}

/*card*/

.mj-cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
}

.mj-card {
    width: calc((100% - 20px) / 2);
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.mj-card:hover {
    transform: scale(1.01);
}

.mj-card a:hover {
    text-decoration: none;
}

.mj-card__ac {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 5px;
}

.mj-card__head {
    display: flex;
    justify-content: space-between;
}

.mj-card__time {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 5px;
    color: #333;
}

.mj-card__ac_red {
    color: #F16662;
}

.mj-card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 15px;
}

.mj-card__foot {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
}

.mj-card__cat {
    background: #F9D43F;
    border-radius: 20px;
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.mj-card__more {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #333333;
}

@media (max-width: 768px) {
    .mj-card {
        width: 100%;
    }
}

/*btns*/

.mj-btn_y {
    display: inline-block;
    width: 200px;
    height: 56px;
    line-height: 56px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: #F9D43F;
    color: #fff;
    border-radius: 28px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}

.mj-btn_w {
    display: inline-block;
    width: 196px;
    height: 56px;
    line-height: 52px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F9D43F;
    background-color: #fff;
    border-radius: 28px;
    border: 2px solid #F9D43F;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}

.mj-btn_w:hover {
    color: #F9D43F;
}

.mj-btn_y:hover {
    color: #fff;
}
.btn.btn-mj {
    background-color: #fffF;
    color: #F9D43F;
    border: 2px solid #F9D43F;
    font-weight: bold;
}